app/static/output/*
!app/static/output/sys
!app/static/output/sys/**
!app/static/output/_sample_.html


app/export/*
*.tar

# Python
__pycache__/
.mypy_cache/

# VS Code


# Uvicorn logs
*.pid

# Test and coverage
htmlcov/
.coverage
.cache/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover




