{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
<article>
<h3>Задачники (Workbooks) </h3>
<p>
Назва задачника має бути унікальною. Після створення задачника її не можна змінювати.
</p>
<p>
Задачі додаються і видаляються з задачника кліком миші по списку задач внизу сторінки.
Список задач може бути відфільтроваий (поле фільтру знаходиться у правому верхньому куті сторінки).
</p>
<p>
Коли задачник відкритий, його задачі доступні для вирішення. 
Момент відкриття задачника - в полі Open Time. 
Задачник залишається відкритии на протязі певної кількості хвилин. Ця кількість - в полі Open Minutes.
</p>
<p>
Задачник доступний для користувачів, чії імена віповідають зразку в полі User Sample.
</p>

</article>
<article>
<h3>Задачі (Problems) </h3>
<p>
Задачі такі самі, як в попередній версії.
</p>

</article>

{% endblock %}
