{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
<style>
    h3, h5 {
        color: blue
    }
</style>
<article>
<h3>Дисципліни </h3>
<h6>(меню Disciplines)</h6>
<p>Дисципліна має назву, ім'я володаря, мову програмування (py, cs, js), шість кольорів для стилізації.
<p>До складу дисциаліни входять лекції і малюнки. Малюнки можуть поділятися між лекціями однієї дисципліни.
<p>Дисципліну можна:
<br> редагувати (посилання edit), 
<br> видаляти разом із усіма лекціями і малюнками (посилання del), 
<br> генерувати html презентації лекцій з індексом у вигляді єдиного zip-файла (посилання z-htm), 
<br> експортувати чернетки у вигляді тексту, упаковного в zip-файл (посилання z-txt).

<h5>Стилізація дисципліни</h5>
<p>При редагуванні дисципліни можна обрати бажані кольори світлої теми дисципліни.
Кольори встновлюються індівідуально, або обирається одна з готових палітр.
<br>Призначення кольорів таке.
<br> --header-color: текст в слайдах @1 і @2
<br> --text-color: текст в слайдах @3, @5, @6
<br> --link-color: текст посилання в слайдах @3, текст в @4, рамка в @4 @5 @6
<br> --body-color: фон сторінки, фон в слайдах @5 
<br> --bg-color: фон в слайдах @4
<br> --aux-color: фон у сфокусованому слайді @3, фон виділеного рядка в слайді @5
</article>

<article>
<h3>Презентації лекцій</h3>
<h6>(меню Disciplines, посилання з назви дисципліни)</h6>
<p>Презентація - це текстовий документ. Клік по назві відкриває документ для редагування.
<p>Презентація складається зі слайдів шести типів.
<br>Тип @1 - заголовок першого рівня
<br>Тип @2 - заголовок другого рівня
<br>Тип @3 - основний текст
<br>Тип @4 - визначення
<br>Тип @5 - редактор коду
<br>Тип @6 - таблиця
<p>Початок слайду позначається емодзи-маркером.
Маркери вводяться комбінаціями клавіши Ctrl з номер типу, наприклад, Ctrl-1 вводить маркер слайду @1.
<p>В презентацію можна додавати рисунки (локальне меню). В назві рисунка НЕ слід вживати прописних літер.

<p>Презентацію можна:
<br>програвати (посилання play),
<br>видаляти (посилання del).
Програвання презентації потрібно при читанні лекції викладачем. 
<p>Презентації можна публіковати (посилання  Publish нагорі сторінки).
Публікація полягає в тому, що презентаця конвертується в html і стає доступною в студентському додатку.
Посилання Publish публікує всі обрані чекбоксами презентації.
<p>Опубліковані презентації доступні на https://tss.co.ua:7074/public/назва_дисцпліни/index.html
</article>

<article>
<h3>Відвідування в Google Meet</h3>
<h6>(меню Attendance)</h6>
<p>Для реєстрації відвідувань треба встановити в браузері розширення Tampermonkey і певний скрипт.
<p>На сторінці розкладів треба створити потрібні розклади. 
Розклад має назву певного виду занять і рядок з моментами часу, коли починається кожне заняття на кшталт
<br>28/01/2026 18:00, 29/01/2026 08:50, 30/01/2026 11:15
<br>Моменти часу розділені комами.
<p>Звіт про відвідуваність можна побачити, клікнувши по назві заняття.
</article>

<article>
<h3>Управління користувачами</h3>
<h6>(меню Users)</h6>

<p>Реєстрація користувачів всіх додатків централізована і робиться саме в цьому додатку.
<p>На сторінці, яка відкриється, розташований список вже зареєстрованих користувачів.

<p>Зареєстрованих користувачів можна видаляти (посилання del) і скидати їм пароль до вхідного (посилання pas).
Також можна реєструвати нових користувачів (посилання New Users).
<p>Видаляння користувача не призводить до втрати даних, які з ним пов'язані.
<p>При реєстрації користувач отримує логін, вхідний пароль і роль - "student" або "tutor". 
Вхідний пароль студента 123456, вхідний пароль викладача 12345678.
Перша літера логіну студента - код групи.
<p>Одночасно можна реєстувати декілька користувачів, поле вводу логіну багаторядкове, один рядок - один логін.
<p>Якщо відомі поштові адреси нових користувачів, їх можна перетворити на логіни (кнопка "@") і після того реєструвати.
Адреси перетворюються за схемою  <i>name.surname@nure.ua => xName</i>   (тут x - кодова литера групи).
</article>

{% endblock %}
