{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
    <form method="post">
      
      <label for="username">
        Username
        <input type="text" id="username" name="username"
               placeholder="Enter your username"
               value="{{ request.form.username or '' }}" required>
      </label>

      <label for="password">
        Password
        <input type="password" id="password" name="password"
               placeholder="Enter your password" required>
      </label>

      <button type="submit">Login</button>

      {% if error %}
        <p style="color: var(--del-color);">{{ error }}</p>
      {% endif %}
    </form>
{% endblock %}

