<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/static/css/pico.min.css">
</head>
<body>
  <main class="container">
    <form method="post" action="{{ url_for('login') }}">
      <h3>Tutor</h3>

      <label for="username">
        Username
        <input type="text" id="username" name="username"
               placeholder="Enter your username"
               value="{{ request.form.username or '' }}" required >
      </label>

      <label for="password">
        Password
        <input type="password" id="password" name="password"
               placeholder="Enter your password" required >
      </label>

      <button type="submit">Login</button>

      {% if error %}
        <p style="color: var(--del-color);">{{ error }}</p>
      {% endif %}
    </form>
  </main>
</body>
</html>
