#dash {
    position: fixed;
    /* opacity: 0.5; */

    right: 5px;
    top: 5px;
    width: 50%;
    z-index: 1;
}

#dash > a {
    text-decoration: none;
}

.alef3.foc, .alef4.foc, .alef5.foc, .alef6.foc 
{
    margin-bottom: 100px;
}
