/* цей файл має знаходитися у папці sys */

:root {
    --border-radius: 6px;
}

/* ----------------------------------------- */
#dash {
    position: fixed;
    opacity: 0.5;

    right: 5px;
    top: 5px;
    width: 10%;
    z-index: 1;
}

#dash > span {
    cursor: pointer;
}

body {
    background-color: var(--page-bg-color);
    margin-top: none;
    padding: 20px;
} 


/* -------------- slides ---------------- */

.alef3.foc{
    border-color: var(--link-color);
    border-style: solid;
    border-width: 3px;
    border-radius: var(--border-radius);
    background-color: var(--page-bg-color);
    margin-top: 8px; 
    padding: 8px;
    font-size: 16px;
}

.alef3, 
.alef4, 
.alef6 { 
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    border-radius: var(--border-radius);;
    margin-top: 8px; 
    background-color: var(--bg-color);
    border: 3px solid var(--bg-color);
    padding: 8px;
}


.alef1, .alef2  {
    font-size: 26px;
    color: var(--header-color);
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin: 20px 0px 4px 0px; 
}

.alef2 {
    font-size: 20px;
}

.alef3 { 
   white-space: pre-wrap;
}

.alef3 > img { 
    display: block;
} 

.alef3 > a { 
    font-weight: 500;
    text-decoration: none;
    color: var(--link-color);
}

.alef3 > span { 
    font-weight: 800;
    font-family: monospace;
}

.alef4 {
    font-weight: bold;
    white-space: pre;
    color: var(--link-color);
    border: solid 3px;
}

/* .alef5 */
.ace_editor { 
    color: var(--text-color);
    font-size: 14px;
    border-radius: var(--border-radius);
    margin-top: 2px; 
    line-height: 1.6 !important;
}
.ace_editor .ace_active-line {   
    background-color: var(--bg-color) !important;    /* рядок з кареткою */
}


.ace-github, 
.ace-github .ace_scroller {
    background-color: var(--page_bg-color) !important;
    border: solid thin;
    border-color: var(--header-color);

}

.alef6 table * {
    background: var(--aux-color) !important;
    color: var(--text-color) !important;
    border-color: var(--text-color) !important;
}

.alef6 table thead,
.alef6 table thead tr,
.alef6 table thead th {
    background-color: var(--aux-color) !important;
    color: var(--text-color) !important;
}



