/* цей файл має знаходитися у папці sys */

:root {
    --border-radius: 6px;
}

/* ---------------------------------------- */
#dash {
    position: fixed;
    opacity: 0.5;

    right: 5px;
    top: 5px;
    width: 10%;
    z-index: 1;
}

#dash > span {
    cursor: pointer;
}

html, body {
    background-color: var(--body-color) !important;
    margin-top: 0;
    padding: 20px;
    min-height: 100vh;
} 

::selection {
    background-color: #b8e0e749;
}
/* -------------- slides ---------------- */

.alef3.foc, 
.alef4.foc {
    border-radius: var(--border-radius);
    background-color: rgb(255, 255, 230);
    margin-top: 15px; 
    padding: 8px;
    font-size: 16px;
}

.alef3, 
.alef4, 
.alef6 { 
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    border-radius: var(--border-radius);;
    margin-top: 8px; 
    background-color: var(--bg-color);
    padding: 8px;
}


.alef1, .alef2  {
    font-size: 26px;
    color: var(--header-color);
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin: 20px 0px 4px 0px; 
}

.alef2 {
    font-size: 20px;
}

.alef3 { 
   white-space: pre-wrap;
}

.alef3 > img { 
    display: block;
} 

.alef3 > a { 
    font-weight: 500;
    text-decoration: none;
    color: var(--link-color);
}

.alef3 > span { 
    font-weight: 800;
    font-family: monospace;
}

.alef4 {
    font-weight: bold;
    white-space: pre;
    color: var(--link-color);
    border: solid 3px var(--link-color);
}

/* same as .alef5 */
.ace_editor { 
    color: var(--text-color);
    font-size: 14px;
    border-radius: var(--border-radius);
    margin-top: 10px; 
    line-height: 1.6 !important;
    background-color: var(--bg-color) !important; 
}
.ace_editor .ace_active-line {   
    background-color: var(--bg-color) !important;    /* рядок з кареткою */
}
.ace_editor .ace_comment {
    color: var(--link-color) !important;  
    font-style: italic; 
}


.alef6 table * {
    background: var(--aux-color) !important;
    color: var(--text-color) !important;
    border-color: var(--text-color) !important;
}

.alef6 table {
    border-collapse: separate !important;
    border-spacing: 0;
    border: 3px solid var(--aux-color) !important;
    border-radius: var(--border-radius) !important;
    overflow: hidden;
    width: 100%;
}

.alef6 table th, 
.alef6 table td {
    border-bottom: 3px solid var(--aux-color) !important;
    border-right: 3px solid var(--aux-color) !important;
    color: var(--text-color) !important;
}

.alef6 table th:last-child, 
.alef6 table td:last-child {
    border-right: none !important;
}

.alef6 table tr:last-child td {
    border-bottom: none !important;
}

.alef6 table thead th {
    background-color: var(--aux-color) !important;
    color: var(--text-color) !important;
    font-weight: bold;
    text-align: left;
}

.alef6 table tbody td {
    background-color: var(--body-color) !important;
}
