/* цей файл має знаходитися у папці із html доками лекцій */

/* -------------- variables ---------------- */

/* Light mode */
:root {
    --page-bg-color: rgb(240, 243, 246);
    --header-color: blue;
    --text-color: navy;
    --bg-color: rgb(230, 238, 245);
    --link-color: #d3589b;
}

body {
    background-color: var(--page-bg-color);
    margin-top: none;
    padding: 20px;
} 


/* -------------- slides ---------------- */

.alef3.foc{
    border-color: var(--header-color);
    border-style: solid;
    border-width: 3px;
    border-radius: 4px;
    background-color: var(--page-bg-color);
    margin-top: 4px; 
    padding: 8px;
    font-size: 16px;
}

.alef3, 
.alef4, 
.alef6 { 
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    margin-top: 1px; 
    background-color: var(--bg-color);
    border: 3px solid var(--bg-color);
    padding: 8px;
}


.alef1, .alef2  {
    font-size: 26px;
    color: var(--header-color);
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin: 20px 0px 4px 0px; 
}

.alef2 {
    font-size: 20px;
}

.alef3 { 
   white-space: pre-wrap;
}

.alef3 > img { 
    display: block;
} 

.alef3 > a { 
    font-weight: 500;
    text-decoration: none;
    color: var(--link-color);
}

.alef3 > span { 
    font-weight: 800;
    font-family: monospace;
}

.alef4 {
    font-weight: bold;
    white-space: pre;
    color: var(--link-color);
    border: solid 3px;
}

/* .alef5 */
.ace_editor { 
    color: var(--text-color);
    font-size: 14px;
    border-radius: 4px;
    margin-top: 2px; 
    line-height: 1.6 !important;
}

.ace-github, 
.ace-github .ace_scroller {
    background-color: var(--bg-color) !important;
}


.alef6 
{
    border-color: var(--bg-color);
    border-width: 1px;
}
.alef6 table    
{
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
    border-color: var(--header-color);

}

