{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}

<h2>Shadules</h2>

<a href="/attend/new" style="margin-right: 60px;">New Shadule</a>

{% if shadules and shadules|length %}
<table>
  <tbody>
    {% for shadule in shadules %}
    <tr>

      <td><a href="/attend/report/{{shadule.classes}}">{{ shadule.classes }}</a></td>
      <td>{{ shadule.moments }}</td>
      
      <td>
          <a href="/attend/edit/{{shadule.id}}">edit</a> | 
          <a href="/attend/del/{{shadule.id}}">del</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
  <div>
    No shadules.
  </div>
{% endif %}

{% endblock %}