{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block content %}
<style>
  .cell {
    font-size: x-small;
    color: gray;
  }
</style>
<h2>{{classes}}</h2>

<table>
  <thead>
    <tr>
       <th>Name</th>
       {% for full_date, short_date in v_headers %}
       <th title="{{full_date}}"> {{ short_date }} </th>
       {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for i in range(matrix|count) %}
    <tr>
      {% for cell in matrix[i] %}
      <td class="cell">{{ cell }}</td>
       {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}