{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
    
<h2>Users</h2> 

  {# ------------ Filter form -------------- #} 
  <form action="/filter/user" method="post" class="inline">
    
    <fieldset role="group" style="margin-top: 16px;"  class="inline">
      <a href="/user/new" style="margin-right: 60px;"  class="inline">New Users</a>
      <input name="filter_value" style=" width: 200px;" title="User filter" value="{{filter_val}}">        
      <button type="submit"  title="User filter">Filter</button>
      <a href="https://regex101.com/" style="color: gray;">regex</a>  
    </fieldset>
      <input type="hidden" name="referer" value="{{request.url.path}}" > 
      
  </form>


{% if users and users|length %}
<table>
  <tbody>
    {% for user in users %}
    <tr>
      <td><a href="/stat/{{user.username}}">{{ user.username }}</a></td>
      <td>
          <a href="/user/reset/{{user.username}}">12..6</a> | 
          <a href="/user/del/{{user.username}}">del</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
  <div>
    No users.
  </div>
{% endif %}

{% endblock %}
