/* однакова висота кнопок схвалення і відмови на формах */
footer.grid button,
footer.grid a[role="button"] {
    height: 3rem; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* ------------------ Загальні класи ------------------- */
.inline {
  display: inline;
}

.danger {
  background-color: red;
}

/* ----------------- Контекстне меню ------------------ */
#context-menu {
  position: absolute;
  display: none;
  min-width: 180px;
  z-index: 9999;
  padding: 0.5rem;
  background-color: bisque;
  border: thin solid lightgray;
  border-radius: 5px;
}

/* Робимо схожим на меню */
#context-menu a {
  display: block;
  padding: 0.5rem;
  border-radius: 6px;
  text-decoration: none;
}

#context-menu a:hover {
  background: var(--pico-muted-border-color);
}
/* ----------------- filters ------------------ */
.small {
  padding: 4px 8px;        /* менше вертикального простору */
  line-height: 1;         /* уникнути зайвої висоти рядка */
  font-size: 0.9rem;      /* за потреби зменшити розмір шрифту */
  white-space: nowrap;    /* не переносити текст на новий рядок */
  display: inline;
  height: auto;
  min-height: 0;
}
