/* однакова висота кнопок схвалення і відмови на формах */
footer.grid button,
footer.grid a[role="button"] {
    height: 3rem; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* ----------------- Контекстне меню ------------------ */
#context-menu {
  position: fixed;
  display: none;
  min-width: 180px;
  z-index: 9999;
  padding: 0.5rem;
  border: thin solid lightgray;
  border-radius: 5px;
}

/* Робимо схожим на меню */
#context-menu a {
  display: block;
  padding: 0.5rem;
  border-radius: 6px;
  text-decoration: none;
}

#context-menu a:hover {
  background: var(--pico-muted-border-color);
}
/* ----------------- ------------------ */