
/* цей файл має знаходитися у папці із html доками лекцій */


/* -------------- slides ---------------- */
.alef1  {
    font-size: 24px;
    color: darkred;
    font-family: Arial;
    margin: 10px 0px 4px 0px; 
}

.alef2 {
    font-size: 18px;
    color: darkred;
    font-family: Arial;
    margin: 30px 0px 4px 0px; 
}

.ace_editor, .alef3, .alef4, .alef6 { 
   border-radius: 4px;
   border: 1px solid lightgray;
   margin: 8px 0px 4px 0px; 
}

.alef3 { 
   padding:4px;
   white-space: pre-wrap;
}

.alef3 > img { 
    display: block;
} 

.alef3 > a { 
    color: blue;
}

.alef3 > span { 
    font-weight: 800;
    font-family: monospace;
}

.alef4 {
    font-size: 16px;
    font-weight: bold;
    white-space: pre;
    color: #FF6600;
    border:solid 2px;
    padding:8px;
}

/* .alef6 { 
    
} */
