{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}

<h2>{{ disc.title }}</h2>
<form method="post" >
  <label>
    Title
    <input name="title" value="{{ disc.title }}" required>
  </label>
  <label>
    Language
    <select name="lang" required="">
      <option value="csharp" {{ 'selected' if disc.lang == 'csharp' else '' }}>C#</option>
      <option value="javascript" {{ 'selected' if disc.lang == 'javascript' else '' }}>Javascript</option>
      <option value="python" {{ 'selected' if disc.lang == 'python' else '' }}>Python</option>
    </select>
  </label>
  <label>
    Theme
    <select name="theme" required="">
      {% for theme in ["theme1_dark", "theme1_light", "theme2_dark", "theme2_light"] %}
        {% set selected = 'selected' if disc.theme == theme else '' %}
        <option value="{{theme}}" {{selected}}>{{theme}}</option>
      {% endfor %}
    </select>
  </label>

  <footer class="grid">
    <button type="submit" >Save</button>
    <a href="/disc/list" role="button" class="secondary">To Index</a>
  </footer>      
</form>

{% endblock %}