{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h2 class="title">New Question</h2>
    <form method="post" >
      <label>
        Common Attribute
        <input type="text" name="attr" value="py" required>
      </label>
      <label>
        Body
        <textarea name="body" rows=15 style="width: 100%" required></textarea>
      </label>
      <footer class="grid">
        <button type="submit" >Save</button>
        <a href="/question/list" role="button" class="secondary">Cancel</a>
      </footer>      

    </form>
{% endblock %}