{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
    
<h2>Disciplines</h2>

<a href="/disc/new" style="margin-right: 60px;">New Disc</a>

{% if discs and discs|length %}
<table>
  <tbody>
    {% for disc in discs %}
    <tr>
      <td><a href="/lecture/list/{{disc.id}}">{{ disc.title }}</a></td>
      <td>
          <a href="/disc/edit/{{disc.id}}">edit</a> | 
          <a href="/disc/export/{{disc.id}}">export</a> | 
          <a href="/disc/del/{{disc.id}}">del</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
  <div>
    No disciplines.
  </div>
{% endif %}

{% endblock %}