{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h2 class="title">New discipline</h2>
    <form method="post" >
      <label>
        Title
        <input name="title" value="{{ disc.title }}" required>
      </label>
      <label>
        Language
        <input name="lang" value="{{ disc.lang }}" required>
      </label>
      <label>
        Theme
        <input name="theme" value="{{ disc.theme }}" required>
      </label>

      <footer class="grid">
        <button type="submit" >Save</button>
        <a href="/disc/list" role="button" class="secondary">Cancel</a>
      </footer>      

    </form>
{% endblock %}