{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}

<h3>{{lecture.title}}</h3>
<form method="post" >

    <textarea name="content" rows="20" >{{ lecture.content }}</textarea>

  <label>
    Is Public
    <input type="checkbox" name="is_public" {{"checked" if lecture.is_public else ""}} >
  </label>

  <footer class="grid">
    <button type="submit" >Save</button>
    <a href="/lecture/list/{{lecture.disc_id}}" role="button" class="secondary">Cancel</a>
  
    {% if lecture.id %}
    <a href="/lecture/trans/{{lecture.id}}" role="button" class="secondary">HTML</a>
    {% endif %}

  </footer>      
</form>
    
{% endblock %}