{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
<div>
  <form id="edit_form" method="post" >
    <header style="margin-bottom: 5px;">
      <h3 class="inline"> {{lecture.title}} 
        <span id="asterisk" style="color: red;"></span>
      </h3>
      <label class="inline" style="margin-left: 30px;">
        <input type="checkbox" name="is_public" {{"checked" if lecture.is_public else ""}} >Public
      </label>

      <a id="monoButton" href="#" style="margin-left: 30px;">Mono</a>
      <a id="playLink" href="#" style="margin-left: 30px;">Play</a>
    </header>

    <textarea name="content" id="content" rows="20" >{{ lecture.content }}</textarea>
    
    <footer class="grid">
      <button type="button" id="buttonSave" title="Ctrl-S" >Save</button>
      <a href="/lecture/list/{{disc_id}}" role="button" class="secondary">Cancel</a>
      <button type="button" id="legacуButton">Legacy</button>
    </footer>      
  </form>
  <input type="hidden" id="lecture_id" value="{{lecture.id}}" 

  <!-- --------------------------- context menu ----------------------------  -->

  <menu id="context-menu" >
    <li>
    <a href="#" id="comment">Comment</a>
    </li>
    <li>
        <form id="upload_form" enctype="multipart/form-data" style="margin:0px 5px 0px 5px">
            <input type="file" name="file" id="file" accept="image" style="display: inline" data-buttonText="Your label here" . />
            <input type="submit" value="Upload" />          
            <input type="hidden" id="disc_id" value="{{disc_id}}" 
        </form>
    </li>
  </menu>

</div>
{% endblock %}

{% block script %}
  <script src="/static/js/utils.js"></script>
  <script src="/static/js/lecture_edit.js"></script>
{% endblock %}