{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
 
<nav>
  <h2 class="inline">{{disc.title}}</h2>
  <form class="inline" method="post" action="/lecture/search/{{disc.id}}">
    <fieldset role="group" style="margin-left: 30px;">
    <input name="sample" style="width: 200px; "/>
    <button class="outline" style="font-size: large;">🔍</button>
    </fieldset>
  </form>
</nav>
<a href="/lecture/new/{{disc.id}}" style="margin-right: 60px;">New lecture</a>

{% if disc.lectures and disc.lectures|length %}
<table>
  <tbody>
    {% for lecture in disc.lectures %}
    <tr>
      <td>
        {{ lecture.title }}
        <span style="margin-left: 20px; font-size: small;">{{lecture.volume // 100 / 10}}</span>
        </td>
      <td>
        
        <a href="/lecture/edit/{{lecture.id}}">edit</a> | 
        <a href="/lecture/trans/{{lecture.id}}">play</a> | 
        <a href="/lecture/del/{{lecture.id}}">del</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
  <div>
    No lectures.
  </div>
{% endif %}

{% endblock %}
