<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="/static/css/pico.min.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="icon" href="/static/favicon.ico">
</head>
<body>

    <main class="container">
        <nav>
        <ul>
            <li style="color: darkred"><strong>Tutor</strong></li>
        </ul>
        <ul>
            <li><a href="/disc/list">Questions</a></li>
            <li><a href="/static/help.html">Help</a></li>
            <li><a href="/logout">Bye</a></li>
        </ul>
        </nav>
        {% block content %}{% endblock %}
    </main>
</body>
</html>