<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="/static/css/pico.min.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="icon" href="/static/img/favicon.ico">
</head>
<body>

    <main class="container">
        <nav>
        <ul>
            <li style="color: darkred"><strong>Tutor</strong></li>
            <li style="margin-left: 1rem;">
            </li>
        </ul>
        <ul>
            <li><a href="/disc/list">Disciplines</a></li>
            <li><a href="/user/list">Users</a></li>
            <li><a href="/stat/report">Report</a></li>
            <li><a href="/attend/list">Attendance</a></li>
            <li><a href="/pass">Pass</a></li>
            <li><a href="/login/help">❓</a></li>
            <li><a href="/login/logout" title="Exit">
                {% if request.state.user %}
                    Hi, {{ request.state.user.username }}
                {% endif %}
            </a></li>
        </ul>

        {# ----------- filters ---------- #}         
        <fieldset role="group" style="width: 390px; margin-top: 20px;">       
            <input id="user_filter" title="Фільтр юзерів" class="filter" placeholder="Users"> 
        </fieldset>
        
        </nav>
        {% block content %}{% endblock %}
    </main>
    {% block script %}{% endblock %}

    <script src="/static/js/layout.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>